# OBLIGATORIO BIG DATA

## Sistema de análisis de información de compañías bajo Big data

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("companies_analysis").getOrCreate()

In [3]:
from pyspark.sql.types import  (StructType, 
                                StructField, 
                                DateType, 
                                BooleanType,
                                DoubleType,
                                IntegerType,
                                StringType,
                               TimestampType)
from pyspark.sql.functions import col

Creamos el dataframe de compañías

In [5]:
companies = spark.read.csv("companies_sorted.csv", header = True)

Vemos cuántos registros tiene

In [6]:
print(" The companies dataframe has {} records".format(companies.count()))

 The companies dataframe has 7173438 records

Vemos las columnas

In [7]:
companies.columns

['_c0',
 'name',
 'domain',
 'year founded',
 'industry',
 'size range',
 'locality',
 'country',
 'linkedin url',
 'current employee estimate',
 'total employee estimate']

In [8]:
# Hacer casteo de datos si es necesario

In [9]:
companies.select("*").show(10)

+-------+--------------------+------------------+------------+--------------------+----------+--------------------+--------------+--------------------+-------------------------+-----------------------+
|    _c0|                name|            domain|year founded|            industry|size range|            locality|       country|        linkedin url|current employee estimate|total employee estimate|
+-------+--------------------+------------------+------------+--------------------+----------+--------------------+--------------+--------------------+-------------------------+-----------------------+
|5872184|                 ibm|           ibm.com|      1911.0|information techn...|    10001+|new york, new yor...| united states|linkedin.com/comp...|                   274047|                 716906|
|4425416|tata consultancy ...|           tcs.com|      1968.0|information techn...|    10001+|bombay, maharasht...|         india|linkedin.com/comp...|                   190771|                 341369|
|  21074|           accenture|     accenture.com|      1989.0|information techn...|    10001+|dublin, dublin, i...|       ireland|linkedin.com/comp...|                   190689|                 455768|
|2309813|             us army|        goarmy.com|      1800.0|            military|    10001+|alexandria, virgi...| united states|linkedin.com/comp...|                   162163|                 445958|
|1558607|                  ey|            ey.com|      1989.0|          accounting|    10001+|london, greater l...|united kingdom|linkedin.com/comp...|                   158363|                 428960|
|3844889|     hewlett-packard|           hpe.com|      1939.0|information techn...|    10001+|palo alto, califo...| united states|linkedin.com/comp...|                   127952|                 412952|
|2959148|cognizant technol...|     cognizant.com|      1994.0|information techn...|    10001+|teaneck, new jers...| united states|linkedin.com/comp...|                   122031|                 210020|
|5944912|             walmart|walmartcareers.com|      1962.0|              retail|    10001+|withee, wisconsin...| united states|linkedin.com/comp...|                   120753|                 272827|
|3727010|           microsoft|     microsoft.com|      1975.0|   computer software|    10001+|redmond, washingt...| united states|linkedin.com/comp...|                   116196|                 276983|
|3300741|                at&t|           att.com|      1876.0|  telecommunications|    10001+|dallas, texas, un...| united states|linkedin.com/comp...|                   115188|                 269659|
+-------+--------------------+------------------+------------+--------------------+----------+--------------------+--------------+--------------------+-------------------------+-----------------------+
only showing top 10 rows

In [10]:
companies.select("industry").show(10, truncate = False)

+-----------------------------------+
|industry                           |
+-----------------------------------+
|information technology and services|
|information technology and services|
|information technology and services|
|military                           |
|accounting                         |
|information technology and services|
|information technology and services|
|retail                             |
|computer software                  |
|telecommunications                 |
+-----------------------------------+
only showing top 10 rows